flows_Heart_Failure_Prediction_KNPavani.json
[{"id":"5c79ce0f.12e16","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6815b4af.5c45fc","type":"ui_form","z":"5c79ce0f.12e16","name":"","label":"User Details : Please enter the user details to predict the Heart Failure","group":"a953e25f.226b88","order":2,"width":0,"height":0,"options":[{"label":"AVG HEART BEATS PER MIN","value":"AVGHEARTBEATSPERMIN","type":"number","required":true,"rows":null},{"label":"PALPITATIONS PER DAY","value":"PALPITATIONSPERDAY","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"CHOLESTEROL","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"AGE","value":"AGE","type":"number","required":true,"rows":null},{"label":"SEX (M/F)","value":"SEX","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY (Y/N)","value":"FAMILYHISTORY","type":"text","required":true,"rows":null},{"label":"SMOKER LAST 5YRS (Y/N)","value":"SMOKERLAST5YRS","type":"text","required":true,"rows":null},{"label":"EXERCISE MIN PER WEEK","value":"EXERCISEMINPERWEEK","type":"number","required":true,"rows":null}],"formValue":{"AVGHEARTBEATSPERMIN":"","PALPITATIONSPERDAY":"","CHOLESTEROL":"","BMI":"","AGE":"","SEX":"","FAMILYHISTORY":"","SMOKERLAST5YRS":"","EXERCISEMINPERWEEK":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":350,"y":440,"wires":[["7b0e2870.26c608","922b8302.ce012"]]},{"id":"7b0e2870.26c608","type":"debug","z":"5c79ce0f.12e16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":580,"wires":[]},{"id":"922b8302.ce012","type":"function","z":"5c79ce0f.12e16","name":"pre-token","func":"global.set(\"AVGHEARTBEATSPERMIN\",msg.payload.AVGHEARTBEATSPERMIN)\nglobal.set(\"PALPITATIONSPERDAY\",msg.payload.PALPITATIONSPERDAY)\nglobal.set(\"CHOLESTEROL\",msg.payload.CHOLESTEROL)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"AGE\",msg.payload.AGE)\nglobal.set(\"SEX\",msg.payload.SEX)\nglobal.set(\"FAMILYHISTORY\",msg.payload.FAMILYHISTORY)\nglobal.set(\"SMOKERLAST5YRS\",msg.payload.SMOKERLAST5YRS)\nglobal.set(\"EXERCISEMINPERWEEK\",msg.payload.EXERCISEMINPERWEEK)\nvar apikey=\"nZnDCRwwLgZI2C2qyCS3Yw2C09EBxv04DkArbvuNa99e\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":360,"wires":[["649c251c.0f595c"]]},{"id":"649c251c.0f595c","type":"http request","z":"5c79ce0f.12e16","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":752.0000038146973,"y":404.00000286102295,"wires":[["39cfa39f.b72ddc","33ce10de.07a3e"]]},{"id":"39cfa39f.b72ddc","type":"debug","z":"5c79ce0f.12e16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":460,"wires":[]},{"id":"33ce10de.07a3e","type":"function","z":"5c79ce0f.12e16","name":"Pre Prediction","func":"var AVGHEARTBEATSPERMIN = global.get(\"AVGHEARTBEATSPERMIN\")\nvar PALPITATIONSPERDAY = global.get(\"PALPITATIONSPERDAY\")\nvar CHOLESTEROL = global.get(\"CHOLESTEROL\")\nvar BMI = global.get(\"BMI\")\nvar AGE = global.get(\"AGE\")\nvar SEX = global.get(\"SEX\")\nvar FAMILYHISTORY = global.get(\"FAMILYHISTORY\")\nvar SMOKERLAST5YRS = global.get(\"SMOKERLAST5YRS\")\nvar EXERCISEMINPERWEEK = global.get(\"EXERCISEMINPERWEEK\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\"values\":[[AVGHEARTBEATSPERMIN,PALPITATIONSPERDAY,CHOLESTEROL,BMI,AGE,SEX,FAMILYHISTORY,SMOKERLAST5YRS,EXERCISEMINPERWEEK]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":944.0000076293945,"y":356.0000021457672,"wires":[["68319469.41c4fc"]]},{"id":"c15ce196.f952d","type":"debug","z":"5c79ce0f.12e16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1322.9999914169312,"y":464.00000381469727,"wires":[]},{"id":"33ccb783.88b2a8","type":"inject","z":"5c79ce0f.12e16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":260,"wires":[["922b8302.ce012"]]},{"id":"a3bc5f2.4d997a","type":"debug","z":"5c79ce0f.12e16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":220,"wires":[]},{"id":"f1056191.f318d","type":"function","z":"5c79ce0f.12e16","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":280,"wires":[["a3bc5f2.4d997a","ad6020ad.1092b","ace6007f.cbc64"]]},{"id":"ad6020ad.1092b","type":"ui_text","z":"5c79ce0f.12e16","group":"a953e25f.226b88","order":3,"width":0,"height":0,"name":"","label":"Heart Failure Prediction is (Y-Yes, N-No):","format":"{{msg.payload}}","layout":"row-left","x":1217.6000366210938,"y":521.2000122070312,"wires":[]},{"id":"68319469.41c4fc","type":"http request","z":"5c79ce0f.12e16","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/e2b82444-d8bf-4013-8215-3cfd6d9cbefc/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":380,"wires":[["c15ce196.f952d","f1056191.f318d"]]},{"id":"5a0e4ed1.3746","type":"ui_template","z":"5c79ce0f.12e16","group":"a953e25f.226b88","name":"Footer","order":5,"width":0,"height":0,"format":"\n<!DOCTYPE html>\n\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n    <meta charset=\"utf-8\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\t\t<link rel=\"shortcut icon\" href=\"https://dl.dropbox.com/s/yofbigw3fu8xx7g/styles.css\">\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"\">\n        <script src=\"https://kit.fontawesome.com/5f3f547070.js\" crossorigin=\"anonymous\"></script>\n        \n\t</head>\n\n    <body>\n\n        <!-- Footer -->\n       <div class='footer'>\n           <p class='footer-description'>Developed by K N Pavani</p>\n       </div>\n\n    </body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":760,"wires":[[]]},{"id":"30d4a6d8.b72b7a","type":"ui_template","z":"5c79ce0f.12e16","group":"a953e25f.226b88","name":"Header and Background","order":1,"width":0,"height":0,"format":"\n<!DOCTYPE html>\n\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\t\t<title>sps-5741-Predict Heart Failure using IBM Auto AI service</title>\n\t\t<link rel=\"shortcut icon\" href=\"{{ url_for('static', filename='logo.ico') }}\">\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"https://dl.dropbox.com/s/yofbigw3fu8xx7g/styles.css\">\n        <script src=\"https://kit.fontawesome.com/5f3f547070.js\" crossorigin=\"anonymous\"></script>\n       \n\t    \n\t</head>\n\n    <body>\n\n        <!-- Website Title -->\n    \t<div class=\"container\" >\n            <h2 class='container-heading'><span class=\"heading_font\">Heart ❤️  Failure Predicton </span></h2>\n            <div class='description'>\n    \t\t\t<p>Treat your ❤️ right</p>\n    \t\t</div>\n    \t</div>\n    \t\n<style>\n    body {\n        background-image: url(\"https://image.freepik.com/free-vector/blue-medical-background_1017-19368.jpg\");\n        \n        background-size: auto;\n        \n    }\n</style>\n\n\n    </body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":720,"wires":[[]]},{"id":"ace6007f.cbc64","type":"ui_template","z":"5c79ce0f.12e16","group":"a953e25f.226b88","name":"Prediction Results","order":4,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n\t\t<meta charset=\"utf-8\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\t\t<title>sps-5741-predict-heart-failure-using-IBM-Auto-AI-service</title>\n\t\t<link rel=\"shortcut icon\" href=\"https://image.freepik.com/free-vector/glossy-red-heart-with-white-heartbeat-pulse-blue-molecules-background-medical-concept_1302-5653.jpg\">\n\t\t<link rel=\"stylesheet\" href=\"{{ url_for('static', filename='styles.css') }}\">\n\t\t<script src=\"https://kit.fontawesome.com/5f3f547070.js\" crossorigin=\"anonymous\"></script>\n\t\t\n\t</head>\n<body>\n\t<!-- Result -->\n\t\t<div class=\"results\">\n          <div ng-if=\"msg.payload == 'Y' \">\n            \n            <h1>Prediction: <span class='danger'>You have Heart Failure.</span></h1>\n\t\t\t\t<img class=\"gif\" src=\"https://dl.dropbox.com/s/mvrufeg24mn076r/sad.gif\" alt=\"Heart Disease Image\">\n\t\t\t\t<div class=\"gyan\">\n\t\t\t\t\t<h3 style=\"color: red;\">Tips for better heart condition: </h3>\n\t\t\t\t\t<ul>\n\t\t\t\t\t\t<li><a href=\"https://www.cnn.com/2015/09/18/health/how-to-lower-blood-pressure-tips/index.html\" target=\"_blank\">Manage your blood pressure!</a></li>\n\t\t\t\t\t\t<li><a href=\"https://www.heart.org/en/health-topics/cholesterol/prevention-and-treatment-of-high-cholesterol-hyperlipidemia\" target=\"_blank\">Manage cholesterol and triglycerides!</a></li>\n\t\t\t\t\t\t<li><a href=\"https://www.healthifyme.com/blog/best-indian-diet-plan-weight-loss/\" target=\"_blank\">Keep a healthy weight!</a></li>\n\t\t\t\t\t\t<li><a href=\"https://www.helpguide.org/articles/healthy-living/the-mental-health-benefits-of-exercise.htm\" target=\"_blank\">Exercise regularly!</a></li>\n\t\t\t\t\t\t<li><a href=\"https://smokefree.gov/quit-smoking/getting-started/steps-to-manage-quit-day\" target=\"_blank\">Stop smoking!</a></li>\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t</ul>\t\t\t\t\n\t\t\t\t</div>\n            \n        </div>\n        <div ng-if=\"msg.payload == 'N'  \">\n            \n            <h1>Prediction: <span class='safe'>Great! You DON'T have Heart Disease.</span></h1>\n\t\t\t\t<img class=\"gif1\" src=\"https://dl.dropbox.com/s/3dw3c44zrejwkr5/happy.gif\" alt=\"No Heart Disease Image\">\n       \n        </div>\n        <div ng-if=\"msg.payload == 'Null'  \">\n        \n        \n       \n        </div>\n\n   </div>\n  \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1210,"y":680,"wires":[[]]},{"id":"a953e25f.226b88","type":"ui_group","z":"","name":"","tab":"75fef92a.ee2c1","order":1,"disp":false,"width":10,"collapse":false},{"id":"75fef92a.ee2c1","type":"ui_tab","z":"","name":"Heart Failure Prediction","icon":"dashboard","order":1,"disabled":false,"hidden":false}]